.font {
}

.label {
  font-size: smaller !important;
}

.fontAdd {
  font-size: 120% !important;
}

.mrg-btm {
  margin-bottom: 1% !important;
}

.pl-1 {
  padding-left: 6% !important;
}

.job-title {
  font-size: 130% !important;
  color: #1295c9;
}

.company-name {
  padding-left: 3% !important;
  font-size: 115% !important;
  color: rgb(0, 75, 145);
}

.view {
  color: #3895c9 !important;
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.days {
  padding-left: 6% !important;
  font-weight: 600 !important;
  font-size: smaller !important;
}
