.pd {
  padding: 1% !important;
}

.lbl {
  color: gray !important;
  font-weight: 500 !important;
}

.form-group {
  margin-bottom: 0.5rem !important;
}

.mlp {
  margin-left: 5px !important;
}

.rght {
  float: right !important;
  margin-right: 11% !important;
}

.my-footer{
  padding: .75rem 1.25rem !important;
  border-top: 1px solid rgba(0,0,0,.125) !important;

}