<span class="d-flex justify-content-around">
  <h4 class="titl">Create Post</h4>
</span>
<!-- preview form -->
<div class="d-flex justify-content-center align-items-center container">
  <form class="card w-100 pd">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label lbl">Popular Titles</label>
      <div class="col-md-6">
        <div class="form-group">
          <tag-input [disable]="true" placeholder="">
          </tag-input>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <!-- <label class="lbl" for="">Title</label> -->
        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="form.title" name="title"
          [readonly]=preview autofocus>
      </div>
      <div class="form-group col-md-6">
        <!-- <label class="lbl" for="">Location</label> -->
        <input type="text" class="form-control" [(ngModel)]="form.location" placeholder="Job Location" name="location"
          [readonly]="preview" autofocus>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="lbl" for="">Date</label>
        <input type="date" class="form-control" [(ngModel)]="form.date" placeholder="date" name="date"
          [readonly]="preview">
      </div>
      <div class="form-group col-md-6">
        <label class="lbl" for="">Time</label>
        <input type="time" class="form-control" [(ngModel)]="form.time" placeholder="Time" name="time"
          [readonly]="preview">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <!-- <label class="lbl" for="inputEmail4">Known Language</label> -->
        <div class="form-group">
          <tag-input [(ngModel)]='form.languages' [disable]="preview" [ngModelOptions]="{standalone: true}"
            [placeholder]="'languages'" [secondaryPlaceholder]="'Add languages'" name="language" maxItems=5 autofocus>
          </tag-input>
        </div>
      </div>
      <div class="form-group col-md-6">
        <!-- <label class="lbl" for="inputPassword4">Additional</label> -->
        <div class="form-group">
          <tag-input name="additional" [disable]="preview" [placeholder]="'additional'"
            [secondaryPlaceholder]="'Add additional'" [(ngModel)]='form.additional' name="additional" maxItems=5
            autofocus>
          </tag-input>
        </div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="form-row">
      <div class="col-md-1">
        <span class="lbl">Salary</span>
      </div>
      <div class="form-group col-md-5">
        <label class="radio-inline mr-3">
          <input type="radio" [(ngModel)]="form.salaryType" value="hour" name="hourly" [disabled]="preview"
            checked><span class="mlp">Hourly</span>
        </label>
        <label class="radio-inline mr-3"><input type="radio" [(ngModel)]="form.salaryType" value="daily" name="daily"
            [disabled]="preview"><span class="mlp">Daily</span></label>
        <label class="radio-inline mr-3"><input type="radio" [(ngModel)]="form.salaryType" value="monthly"
            name="monthly" [disabled]="preview"> <span class="mlp">Monthly</span></label>
      </div>
      <div class="col-md-1">
        <span class="lbl mr-2">Job</span>
      </div>
      <div class="form-group col-md-5">
        <label class="radio-inline mr-3"><input type="radio" [(ngModel)]="form.jobType" name="partTime"
            [disabled]="preview" checked> <span class="mlp">Part Time</span></label>
        <label class="radio-inline mr-3"><input type="radio" [(ngModel)]="form.jobType" name="fulTime" value="fulTime"
            [disabled]="preview"> <span class="mlp">Full Time</span> </label>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-1">
        <span class="lbl">Gender</span>
      </div>
      <div class="form-group col-md-5">
        <label class="radio-inline mr-3"><input type="radio" name="male" value="male" [(ngModel)]="form.gender"
            [disabled]="preview" checked> <span class="mlp">Male</span></label>
        <label class="radio-inline mr-3"><input type="radio" name="female" value="female" [(ngModel)]="form.gender"
            [disabled]="preview"> <span class="mlp">Female</span> </label>
      </div>
      <div class="col-md-1">
        <span class="lbl">Experience</span>
      </div>
      <div class="form-group col-md-4">
        <label class="radio-inline mr-3"><input type="radio" [(ngModel)]="form.experience" name="one" value="one"
            [disabled]="preview" checked> <span class="mlp">0-1 years</span> </label>
        <label class="radio-inline mr-3"><input type="radio" [(ngModel)]="form.experience" name="two" value="three"
            [disabled]="preview"> <span class="mlp">1-3 years</span> </label>
        <label class="radio-inline mr-3"><input type="radio" [(ngModel)]="form.experience" name="four" value="four"
            [disabled]="preview"> <span class="mlp">3-5 years</span></label>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label lbl">Tell More</label>
      <div class="col-md-8">
        <div class="form-group">
          <textarea class="form-control" [(ngModel)]='form.moreInfo' name="more" rows="2" placeholder="Tell More"
            [disabled]="preview" autofocus></textarea>
        </div>
      </div>
    </div>
    <div class="my-footer text-muted text-right ">
      <button class="btn btn-sm btn-primary mr-1" (click)="showPreview('preview')" *ngIf="!preview">Preview</button>
      <button type="submit" class="btn btn-sm btn-primary mr-1" (click)="showPreview('preview')"
        *ngIf="preview">submit</button>
      <button type="info" class="btn btn-sm btn-primary" (click)="showPreview('edit')">Cancel</button>
    </div>
  </form>
</div>